<!DOCTYPE HTML>
<html>
<head>
	<title>慧智DNA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" /> 
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" /> 
	<link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.min.css" /> 

	
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />  
</head>

<body class="pageFadeIn">

<div class="menuBar menuBarFX"><!--PC版主選單-->
	<div class="container">
		<div class="logos">
			<a href="http://www.sofiva.com.tw/" target="_blank"><img src="../../assets/img/logoDNA.svg"></a>
			<a href="http://www.dianthus.com.tw/" target="_blank"><img src="../../assets/img/logoHching.svg"></a>
		</div>
		<ul class="mainMenu">
			<li><a href="../paternity/accuracy.html">親子鑑定介紹</a></li>
			<li><a href="../apply/index.html">應用範圍</a></li>
			<li><a href="../step/index.html">鑑定流程</a></li>
			<li><a href="../unit/index.html">選擇鑑定機構</a></li>
			<li><a href="../faq/index.html">常見問題</a></li>
			<li><a href="../../index.html">HOME</a></li>
		</ul>
		
		<div class="burger"><span></span></div>
	</div>
</div>


<div class="lightBox" id="menuLight"><!--手機版選單-->
	<div class="inner">
		<ul class="menu-s">
			<li><a href="../../index.html">首頁</a></li>
			<li><a href="../paternity/accuracy.html">親子鑑定介紹</a></li>
			<li><a href="../apply/index.html">應用範圍</a></li>
			<li><a href="../step/index.html">鑑定流程</a></li>
			<li><a href="../unit/index.html">選擇鑑定機構</a></li>
			<li><a href="../faq/index.html">常見問題</a></li>
		</ul>

	</div>
</div>


<div class="wrapperH60"><!--輪播-->
	<div class="bannerIND">
		<div class="xsBGshow heroIMG" data-small="../../upload/stepBanner-s.jpg" data-large="../../upload/stepBanner.jpg" style="background:url('../../upload/stepBanner.jpg') no-repeat center center; background-size:cover">
		    <artile class="indexTit applyTit">
		        <div class="inner">
	                <h2>Process<b>鑑定流程</b></h2>
		        </div>
		    </artile>
		</div>	
	</div>
</div>
<div class="wrapperH40">
	<div class="stepBanner">
		<ul class="stepList ">
			<li data-sr="enter top, move 100px, over 1.3s, wait .1s">
				<i><img src="../../assets/img/step01.png" /></i>
				<h3>Advisory<label>諮詢</label></h3>
				<hr>
				<span>釐清鑑定用途<br>決定是否進行檢測</span>
			</li>
			<li data-sr="enter top, move 100px, over 1.3s, wait .3s">
				<i><img src="../../assets/img/step02.png" /></i>
				<h3>Document<label>資料</label></h3>
				<hr>
				<span>簽署同意書<br>查驗相關證件</span>
			</li>
			<li data-sr="enter top, move 100px, over 1.3s, wait .5s">
				<i><img src="../../assets/img/step03.png" /></i>
				<h3>Collect<label>採檢</label></h3>
				<hr>
				<span>核對身分<br>採集檢體</span>
			</li>
			<li data-sr="enter top, move 100px, over 1.3s, wait .8s">
				<i><img src="../../assets/img/step04.png" /></i>
				<h3>Report<label>報告</label></h3>
				<hr>
				<span>五個工作天後<br>領取鑑定報告</span>
			</li>									
		</ul>
	</div>
</div>

<section class="stepSide">
	<div class="container">
		<div class="tit">
			<h3><span>SpecimenCollection</span>DNA親子鑑定採用檢體</h3>
			<hr>
		</div>
		<ul class="stepSide-L fadeLR">
			<li>
				<div class="IMG"><img src="../../upload/spec01.jpg"></div>
				<div class="TXT">
					<div class="left">
						<h4 style="color:#fba927">Blood</h4>
						<span>抽血/血片</span>
					</div>
					<div class="right">
						只須抽取血液約3-5ml<br>若是嬰兒不容許抽血可以血片採集腳跟血
					</div>
				</div>
			</li>
			<li>
				<div class="IMG"><img src="../../upload/spec02.jpg"></div>
				<div class="TXT">
					<div class="left">
						<h4 style="color:#ff8f63">Cells</h4>
						<span>口腔黏膜細胞</span>
					</div>
					<div class="right">
						曾經進行骨髓移植或最近三個月內有接受輸血<br>必須使用口腔黏膜細胞作為鑑定樣本
					</div>
				</div>
			</li>
			<li>
				<div class="IMG"><img src="../../upload/spec03.jpg"></div>
				<div class="TXT">
					<div class="left">
						<h4 style="color:#ff7c7c">Saliva</h4>
						<span>唾液</span>
					</div>
					<div class="right">
						採集口腔脫落細胞<br>半小時內不得進食、飲水
					</div>
				</div>
			</li>
			<li>
				<div class="IMG"><img src="../../upload/spec04.jpg"></div>
				<div class="TXT">
					<div class="left">
						<h4 style="color:#968ad6">Hair</h4>
						<span>毛髮</span>
					</div>
					<div class="right">
						毛髮檢體必須含有毛囊<br>才可為親子鑑定使用
					</div>
				</div>
			</li>
			<li>
				<div class="IMG"><img src="../../upload/spec05.jpg"></div>
				<div class="TXT">
					<div class="left">
						<h4 style="color:#4bb9b9">Before<br> Birth</h4>
						<span>產前檢體</span>
					</div>
					<div class="right">
						如果是尚未出生的小孩要做親子鑑定<br>須由婦產科醫師採集產前檢體進行鑑定<br>檢體如下：絨毛、羊水、臍帶血
					</div>
				</div>
			</li>
			<li>
				<div class="IMG"><img src="../../upload/spec06.jpg"></div>
				<div class="TXT">
					<div class="left">
						<h4 style="color:#7caaff">Special</h4>
						<span>特殊檢體</span>
					</div>
					<div class="right">
						可萃取出DNA的檢體就可以用來進行親子鑑定<br>例如：人體組織、DNA、臍帶、胎盤
					</div>
				</div>
			</li>															
		</ul>
	</div>
</section>

<div class="rainbowLine">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>

<footer>
	<div class="container">
		<div class="left">
			<ul class="footInfo f13">
				<li><span>100台北市中正區思源街18號B棟5樓 </span></li>
				<li><label>電話：</label><span><a href="tel:0223686606">02-23686606</a></span></li>
				<li><label>傳真：</label><span>02-23680668 </span></li>				
			</ul>
			<p class="f11">© SOFIVA GENOMICS. ALL RIGHTS RESERVED. DESIGNED BY <a href="javascript:;">WDD</a></p>
		</div>
		<div class="right">
			<a href="http://www.sofiva.com.tw/" target="_blank"><img src="../../assets/img/logoDNA.svg"></a>
			<a href="http://www.dianthus.com.tw/" target="_blank"><img src="../../assets/img/logoHching.svg"></a>
		</div>
	</div>
</footer>



<!--主要jQuery-->
<script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
<script src="../../assets/js/vedor/slick/slick.js"></script>
<script src="../../assets/js/vedor/scrollReveal.js"></script>
<script src="../../assets/js/vedor/waypoints.min.js"></script>
<script src="../../assets/js/vedor/windowScroll.js"></script>
<script src="../../assets/js/vedor/imagesloaded.pkgd.js"></script>
<script src="../../assets/js/vedor/headerFx.js"></script>

<!--非共用-->
<script src="../../assets/js/vedor/jquery.nav.js"></script>
<!--main.js-->
<script src="../../assets/js/main.js"></script>

</body>
</html>
