<!DOCTYPE HTML>
<html>
<head>
	<title>慧智DNA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" /> 
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" /> 
	<link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.min.css" /> 

	
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />  
</head>

<body class="pageFadeIn">

<div class="menuBar menuBarFX"><!--PC版主選單-->
	<div class="container">
		<div class="logos">
			<a href="http://www.sofiva.com.tw/" target="_blank"><img src="../../assets/img/logoDNA.svg"></a>
			<a href="http://www.dianthus.com.tw/" target="_blank"><img src="../../assets/img/logoHching.svg"></a>
		</div>
		<ul class="mainMenu">
			<li><a href="../paternity/accuracy.html">親子鑑定介紹</a></li>
			<li><a href="../apply/index.html">應用範圍</a></li>
			<li><a href="../step/index.html">鑑定流程</a></li>
			<li><a href="../unit/index.html">選擇鑑定機構</a></li>
			<li><a href="../faq/index.html">常見問題</a></li>
			<li><a href="/index.html">HOME</a></li>
		</ul>
		
		<div class="burger"><span></span></div>
	</div>
</div>


<div class="lightBox" id="menuLight"><!--手機版選單-->
	<div class="inner">
		<ul class="menu-s">
			<li><a href="/index.html">首頁</a></li>
			<li><a href="../paternity/accuracy.html">親子鑑定介紹</a></li>
			<li><a href="../apply/index.html">應用範圍</a></li>
			<li><a href="../step/index.html">鑑定流程</a></li>
			<li><a href="../unit/index.html">選擇鑑定機構</a></li>
			<li><a href="../faq/index.html">常見問題</a></li>
		</ul>

	</div>
</div>


<div class="wrapperH100 heroFixed"><!--輪播-->
	<div class="bannerIND">
		<div class="xsBGshow heroIMG" data-small="../../upload/applyBanner-s.jpg" data-large="../../upload/applyBanner.jpg" style="background:url('../../upload/applyBanner.jpg') no-repeat center center; background-size:cover">
		    <artile class="indexTit applyTit">
		        <div class="inner">
	                <h2>application<b>應用範圍</b></h2>
	                <span>DNA親子鑑定技術十分廣泛</span>
		        </div>
		    </artile>
		</div>		
	</div>
	<a href="javascript:;"><i>+</i><span>鑑定應用範圍</span></a>
</div>

<section class="applyList">
	<div class="applyBox">
		<div class="apply-s">
			<div class="IMG" style="background:url('../../upload/apply01.jpg') no-repeat center center; background-size:cover"></div><!--圖片尺寸770x390-->
			<div class="TXT">
				<div class="tit">
					<i style="color:#2b7b7f">01</i>
					<h3>確認親子關係</h3>
					<hr style="background:#2b7b7f">
				</div>
				<p>新生兒申報戶口時，如果新生兒不是在醫院、診所或助產所出生就沒有出生證明書，此時就需要進行親子鑑定來確認親子關係。另外，要確認生父、生母或是更改姓氏，也需正式親子鑑定文件。</p>
				<span style="background:#2b7b7f"><i>+</i>了解親子關係確認</span>
			</div>
		</div>
		<div class="apply-m">
			<span class="apply-X"><i></i>CLOSE</span>
			<div class="cont">
				<h4><i style="color:#2b7b7f">01</i>確認親子關係</h4>
				<hr>
				<p>新生兒申報戶口時，如果新生兒不是在醫院、診所或助產所出生就沒有出生證明書，此時就需要進行親子鑑定來確認親子關係。另外，要確認生父、生母或是更改姓氏，也需正式親子鑑定文件。</p>
				<p>過去親子鑑定較不發達，非婚生子女要提起「強制認領」訴訟，還必須證明生父與生母有同居的事實，現在只需要進行親子鑑定，就可以確認非婚生子女與生父之間的親子關係，保障非婚生子女的權益。</p>
			</div>
		</div>
	</div><!--applyBox-->

	<div class="applyBox">
		<div class="apply-s">
			<div class="IMG" style="background:url('../../upload/apply02.jpg') no-repeat center center; background-size:cover"></div><!--圖片尺寸770x390-->
			<div class="TXT">
				<div class="tit">
					<i style="color:#f178a0">02</i>
					<h3>跨國依親</h3>
					<hr style="background:#f178a0">
				</div>
				<p>台灣人民在大陸地區所生子女，大陸親人來台探親、依親，可能需要向移民署提出親屬關係的證明，親子鑑定報告即可作為證明的方式。外籍新娘婚前受孕，並且子女出生時生母仍未在台灣設有戶籍</p>
				<span style="background:#f178a0"><i>+</i>了解跨國依親</span>
			</div>
		</div>
		<div class="apply-m">
			<span class="apply-X"><i></i>CLOSE</span>
			<div class="cont">
				<h4><i style="color:#f178a0">02</i>跨國依親</h4>
				<hr>
				<p>台灣人民在大陸地區所生子女，大陸親人來台探親、依親，可能需要向移民署提出親屬關係的證明，親子鑑定報告即可作為證明的方式。</p>
				<p>外籍新娘婚前受孕，並且子女出生時生母仍未在台灣設有戶籍此時就必須透過親子鑑定證明父子（女）之親子血緣關係。</p>
			</div>
		</div>
	</div><!--applyBox-->	

	<div class="applyBox">
		<div class="apply-s">
			<div class="IMG" style="background:url('../../upload/apply03.jpg') no-repeat center center; background-size:cover"></div><!--圖片尺寸770x390-->
			<div class="TXT">
				<div class="tit">
					<i style="color:#ff9c1b">03</i>
					<h3>確認生父</h3>
					<hr style="background:#ff9c1b">
				</div>
				<p>女性結婚或再婚，未滿181天內出生的子女，這個小孩可能被推定為前任丈夫的小孩，同時也可能被推定為現任丈夫的小孩。若要確認究竟是誰的小孩，就必須進行親子鑑定。</p>
				<span style="background:#ff9c1b"><i>+</i>了解確認生父</span>
			</div>
		</div>
		<div class="apply-m">
			<span class="apply-X"><i></i>CLOSE</span>
			<div class="cont">
				<h4><i style="color:#ff9c1b">03</i>確認生父</h4>
				<hr>
				<p>女性結婚或再婚，未滿181天內出生的子女，這個小孩可能被推定為前任丈夫的小孩，同時也可能被推定為現任丈夫的小孩。若要確認究竟是誰的小孩，就必須進行親子鑑定。</p>
				<p>懷孕後生產前，胎兒尚未出生，想要確認胎兒的生父，現在也可以產前檢體（例如：絨毛、羊水、臍帶血等）執行親子鑑定。</p>
			</div>
		</div>
	</div><!--applyBox-->	

	<div class="applyBox">
		<div class="apply-s">
			<div class="IMG" style="background:url('../../upload/apply04.jpg') no-repeat center center; background-size:cover"></div><!--圖片尺寸770x390-->
			<div class="TXT">
				<div class="tit">
					<i style="color:#fc6771">04</i>
					<h3>財產繼承</h3>
					<hr style="background:#fc6771">
				</div>
				<p>遺產繼承糾紛，例如：非婚生子女欲繼承生父財產，可以透過親子鑑定來確定與被繼承人的親屬關係，來確定其繼承人的身分。</p>
				<span style="background:#fc6771"><i>+</i>了解財產繼承</span>
			</div>
		</div>
		<div class="apply-m">
			<span class="apply-X"><i></i>CLOSE</span>
			<div class="cont">
				<h4><i style="color:#fc6771">04</i>財產繼承</h4>
				<hr>
				<p>遺產繼承糾紛，例如：非婚生子女欲繼承生父財產，可以透過親子鑑定來確定與被繼承人的親屬關係，來確定其繼承人的身分。</p>
			</div>
		</div>
	</div><!--applyBox-->


	<div class="applyBox">
		<div class="apply-s">
			<div class="IMG" style="background:url('../../upload/apply05.jpg') no-repeat center center; background-size:cover"></div><!--圖片尺寸770x390-->
			<div class="TXT">
				<div class="tit">
					<i style="color:#7a95dc">05</i>
					<h3>個人人身鑑定</h3>
					<hr style="background:#7a95dc">
				</div>
				<p>建立小孩的DNA鑑定資料，也是一種保護措施。如果小孩被抱錯或失蹤走失，日後可以透過DNA鑑定確認身分。建立自身的DNA檔案或往生者留存DNA鑑定資料</p>
				<span style="background:#7a95dc"><i>+</i>了解個人人身鑑定</span>
			</div>
		</div>
		<div class="apply-m">
			<span class="apply-X"><i></i>CLOSE</span>
			<div class="cont">
				<h4><i style="color:#7a95dc">05</i>個人人身鑑定</h4>
				<hr>
				<p>建立小孩的DNA鑑定資料，也是一種保護措施。如果小孩被抱錯或失蹤走失，日後可以透過DNA鑑定確認身分。
建立自身的DNA檔案或往生者留存DNA鑑定資料，若發生財產繼承爭議時，可以藉由留下的DNA檔案進行親子鑑定，以確認繼承人的身分，藉此來保障自身及繼承人的權益。</p>
			</div>
		</div>
	</div><!--applyBox-->

	<div class="applyBox">
		<div class="apply-s">
			<div class="IMG" style="background:url('../../upload/apply06.jpg') no-repeat center center; background-size:cover"></div><!--圖片尺寸770x390-->
			<div class="TXT">
				<div class="tit">
					<i style="color:#bea6f4">06</i>
					<h3>ABO血型不合</h3>
					<hr style="background:#bea6f4">
				</div>
				<p>一般而言，一定血型的父母所生下的子女也會有相對應的血型，但在某些特殊情形下，父母的血型可能會與子女的血型可能不符合。因此ABO血型不合時，最好還是經由親子鑑定來進行確認。</p>
				<span style="background:#bea6f4"><i>+</i>了解ABO血型不合</span>
			</div>
		</div>
		<div class="apply-m">
			<span class="apply-X"><i></i>CLOSE</span>
			<div class="cont">
				<h4><i style="color:#bea6f4">06</i>ABO血型不合</h4>
				<hr>
				<p>一般而言，一定血型的父母所生下的子女也會有相對應的血型，但在某些特殊情形下，父母的血型可能會與子女的血型可能不符合。因此ABO血型不合時，最好還是經由親子鑑定來進行確認。</p>
				<h5>– 孟買或亞孟買血型造成誤判的情形</h5>
				<p>根據統計，在台灣約8,000~10,000個人就有一人具有亞孟買血型。人類的紅血球表面要有正常的H抗原，才能表現出A或B抗原，但在孟買或亞孟買血型的人身上，無法製造出H抗原，因此就不能表現出A或B抗原，血型測定時會表現出如O型的血型。孟買或亞孟買血型的人與具有正常H抗原之O型的人結婚後，他們的小孩就有可能會表現出A型、B型或O型血型。</p>
				<h5>– cis-AB基因</h5>
				<p>在正常情況下，父母親分別為AB型與O型，是不會生下AB型的小孩，因為A與B基因不會在同一條染色體上。但在極少數的情況下，A與B基因存在同一條染色體上，稱之為cis-AB基因。當擁有cis-AB基因之AB型與O型的人生育下一代，其子女的血型可能就是AB或O型，而非A或B型。</p>
			</div>
		</div>
	</div><!--applyBox-->

	<div class="applyBox">
		<div class="apply-s">
			<div class="IMG" style="background:url('../../upload/apply07.jpg') no-repeat center center; background-size:cover"></div><!--圖片尺寸770x390-->
			<div class="TXT">
				<div class="tit">
					<i style="color:#95ca32">07</i>
					<h3>其他應用</h3>
					<hr style="background:#95ca32">
				</div>
				<p>DNA親子鑑定技術，除了可以用在親子關係的鑑定外，也可以應用在確認未知檢體是否出自同一個人，來確認身分或與親屬間比對是否有血緣關係。比如發生重大事故時</p>
				<span style="background:#95ca32"><i>+</i>了解其他應用</span>
			</div>
		</div>
		<div class="apply-m">
			<span class="apply-X"><i></i>CLOSE</span>
			<div class="cont">
				<h4><i style="color:#95ca32">07</i>其他應用</h4>
				<hr>
				<p>DNA親子鑑定技術，除了可以用在親子關係的鑑定外，也可以應用在確認未知檢體是否出自同一個人，來確認身分或與親屬間比對是否有血緣關係。比如發生重大事故時，身分不明之受害者的鑑定工作，就是最常見的應用。</p>
			</div>
		</div>
	</div><!--applyBox-->


</section>

<div class="rainbowLine">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>

<footer>
	<div class="container">
		<div class="left">
			<ul class="footInfo f13">
				<li><span>100台北市中正區思源街18號B棟5樓 </span></li>
				<li><label>電話：</label><span><a href="tel:0223686606">02-23686606</a></span></li>
				<li><label>傳真：</label><span>02-23680668 </span></li>				
			</ul>
			<p class="f11">© SOFIVA GENOMICS. ALL RIGHTS RESERVED. DESIGNED BY <a href="javascript:;">WDD</a></p>
		</div>
		<div class="right">
			<a href="http://www.sofiva.com.tw/" target="_blank"><img src="../../assets/img/logoDNA.svg"></a>
			<a href="http://www.dianthus.com.tw/" target="_blank"><img src="../../assets/img/logoHching.svg"></a>
		</div>
	</div>
</footer>



<!--主要jQuery-->
<script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
<script src="../../assets/js/vedor/slick/slick.js"></script>
<script src="../../assets/js/vedor/scrollReveal.js"></script>
<script src="../../assets/js/vedor/waypoints.min.js"></script>
<script src="../../assets/js/vedor/windowScroll.js"></script>
<script src="../../assets/js/vedor/imagesloaded.pkgd.js"></script>
<script src="../../assets/js/vedor/headerFx.js"></script>

<!--非共用-->
<script src="../../assets/js/vedor/jquery.nav.js"></script>
<!--main.js-->
<script src="../../assets/js/main.js"></script>

</body>
</html>
