<!DOCTYPE HTML>
<html>
<head>
	<title>慧智DNA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" /> 
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" /> 
	<link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.min.css" /> 

	
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />  
</head>

<body class="pageFadeIn">

<div class="menuBar menuBarFX"><!--PC版主選單-->
	<div class="container">
		<div class="logos">
			<a href="http://www.sofiva.com.tw/" target="_blank"><img src="../../assets/img/logoDNA.svg"></a>
			<a href="http://www.dianthus.com.tw/" target="_blank"><img src="../../assets/img/logoHching.svg"></a>
		</div>
		<ul class="mainMenu">
			<li><a href="../paternity/accuracy.html">親子鑑定介紹</a></li>
			<li><a href="../apply/index.html">應用範圍</a></li>
			<li><a href="../step/index.html">鑑定流程</a></li>
			<li><a href="../unit/index.html">選擇鑑定機構</a></li>
			<li><a href="../faq/index.html">常見問題</a></li>
			<li><a href="/index.html">HOME</a></li>
		</ul>
		
		<div class="burger"><span></span></div>
	</div>
</div>


<div class="lightBox" id="menuLight"><!--手機版選單-->
	<div class="inner">
		<ul class="menu-s">
			<li><a href="/index.html">首頁</a></li>
			<li><a href="../paternity/accuracy.html">親子鑑定介紹</a></li>
			<li><a href="../apply/index.html">應用範圍</a></li>
			<li><a href="../step/index.html">鑑定流程</a></li>
			<li><a href="../unit/index.html">選擇鑑定機構</a></li>
			<li><a href="../faq/index.html">常見問題</a></li>
		</ul>

	</div>
</div>


<div class="wrapperH100 heroFixed"><!--輪播-->
	<div class="bannerIND">
		<div class="xsBGshow heroIMG" data-small="../../upload/unitBanner-s.jpg" data-large="../../upload/unitBanner.jpg" style="background:url('../../upload/unitBanner.jpg') no-repeat center center; background-size:cover">
		    <artile class="indexTit unitTit">
		        <div class="inner">
	                <h2>agency<b>選擇鑑定機構</b></h2>
	                <span>親子鑑定的結果如果出問題，對一個家庭將是毀滅性的打擊，因此選擇有品質保證的<br>
鑑定機構就十分重要，選擇親子鑑定機構時必需考慮以下幾點</span>
		        </div>
		    </artile>
		</div>		
	</div>	
	<a data-anchor="" href="javascript:;" class="aaScrollDonw anchorBtn"><!--往下按鈕-->
		<span>SCROLL DOWN</span>
		<i></i>
	</a>	
</div>


<section class="unitBox">
	<div class="IMG" style="background:url('../../upload/unitPic01.jpg') no-repeat center center; background-size:cover"></div>
	<div class="TXT" style="background:#03a182" data-sr="enter right, move 100px, over 1.3s, wait .1s">
		<h4 data-sr="enter top, move 0px, over 1.3s, wait .4s">認證合格機構</h4>
		<hr data-sr="enter top, move 0px, over 1.3s, wait .1s">
		<p data-sr="enter top, move 0px, over 1.3s, wait .6s">在2002年之前，台灣親子鑑定並沒有適當的管理機制，所以各鑑定機構的鑑定品質良莠不齊，親子鑑定結果錯誤的烏龍事件時有所聞。為確保鑑定機構報告之可信度，財團法人全國認證基金會（TAF）針對親子鑑定與中華民國鑑識學會已共同制定相關技術規範，並提供相關認證服務，使親子鑑定機構之管理有一致性。<br>
選擇TAF認證通過的鑑定機構進行親子鑑定，才能確保親子鑑定品質以及鑑定報告公信力，鑑定結果才可為戶政機關、法院及移民署採認。</p>
	</div>
</section>


<section class="unitBox">
	<div class="IMG" style="background:url('../../upload/unitPic02.jpg') no-repeat center center; background-size:cover"></div>
	<div class="TXT left" style="background:#9a7ecd" data-sr="enter left, move 100px, over 1.3s, wait .1s">
		<h4 data-sr="enter top, move 0px, over 1.3s, wait .3s">符合國際標準</h4>
		<hr data-sr="enter top, move 0px, over 1.3s, wait .4s">
		<p data-sr="enter top, move 0px, over 1.3s, wait .5s">親子鑑定的技術，從早期的血型檢測，發展至今已經進入分子檢測的時代。現在的親子鑑定技術，採用 STR* 鑑定系統，在國際上已有一致的共識。前述鑑定系統，檢測至少包含16個國際通用基因點位，結果與國際標準相同。<br>
*STR（Short tandem repeat，短相連重複序列）：指重複DNA中，重複單位變異區域的DNA長度約在150個鹼基以下者。</p>
	</div>
</section>

<section class="unitBox">
	<div class="IMG" style="background:url('../../upload/unitPic03.jpg') no-repeat center center; background-size:cover"></div>
	<div class="TXT " style="background:#5e79b3" data-sr="enter right, move 100px, over 1.3s, wait .1s">
		<h4 data-sr="enter top, move 0px, over 1.3s, wait .3s">專業、準確、高品質</h4>
		<hr data-sr="enter top, move 0px, over 1.3s, wait .4s">
		<p data-sr="enter top, move 0px, over 1.3s, wait .5s">除了通過TAF認證之外，鑑定人員素質和能力也很重要。鑑定過程必須嚴格遵守親緣DNA鑑定實驗室認證技術規範，並且定期參加台灣鑑識科學學會親緣DNA鑑定能力測試，以嚴謹的品質系統與先進的技術能力，提供專業、準確、高品質的服務。</p>
	</div>
</section>


<section class="unitBox">
	<div class="IMG" style="background:url('../../upload/unitPic04.jpg') no-repeat center center; background-size:cover"></div>
	<div class="TXT left" style="background:#fc8c99" data-sr="enter left, move 100px, over 1.3s, wait .1s">
		<h4 data-sr="enter top, move 0px, over 1.3s, wait .3s">專業醫師簽核報告</h4>
		<hr data-sr="enter top, move 0px, over 1.3s, wait .4s">
		<p data-sr="enter top, move 0px, over 1.3s, wait .5s">鑑定過程所得結果需要進一步分析匯總、計算，然後才能出具鑑定結論和報告。鑑定報告由專業且經驗豐富的醫師，親自核閱簽發，為每一份報告嚴格把關，進而實現全面性的品質提升。</p>
	</div>
</section>

<section class="unitBox">
	<div class="IMG" style="background:url('../../upload/unitPic05.jpg') no-repeat center center; background-size:cover"></div>
	<div class="TXT " style="background:#f58761" data-sr="enter right, move 100px, over 1.3s, wait .1s">
		<h4 data-sr="enter top, move 0px, over 1.3s, wait .3s">注重個人隱私</h4>
		<hr data-sr="enter top, move 0px, over 1.3s, wait .4s">
		<p data-sr="enter top, move 0px, over 1.3s, wait .5s">親子鑑定往往相當敏感，多數人都不願意被人發現，因此選擇注重隱私的機構就很重要。提供專屬空間，從預約、報到、諮詢、查驗證件、拍照及採檢，全部過程保密。謹守醫學倫理的專業人員，確保客戶資料之隱密性，且資料決不外流。</p>
	</div>
</section>



<div class="rainbowLine">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>

<footer>
	<div class="container">
		<div class="left">
			<ul class="footInfo f13">
				<li><span>100台北市中正區思源街18號B棟5樓 </span></li>
				<li><label>電話：</label><span><a href="tel:0223686606">02-23686606</a></span></li>
				<li><label>傳真：</label><span>02-23680668 </span></li>				
			</ul>
			<p class="f11">© SOFIVA GENOMICS. ALL RIGHTS RESERVED. DESIGNED BY <a href="javascript:;">WDD</a></p>
		</div>
		<div class="right">
			<a href="http://www.sofiva.com.tw/" target="_blank"><img src="../../assets/img/logoDNA.svg"></a>
			<a href="http://www.dianthus.com.tw/" target="_blank"><img src="../../assets/img/logoHching.svg"></a>
		</div>
	</div>
</footer>



<!--主要jQuery-->
<script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
<script src="../../assets/js/vedor/slick/slick.js"></script>
<script src="../../assets/js/vedor/scrollReveal.js"></script>
<script src="../../assets/js/vedor/waypoints.min.js"></script>
<script src="../../assets/js/vedor/windowScroll.js"></script>
<script src="../../assets/js/vedor/imagesloaded.pkgd.js"></script>
<script src="../../assets/js/vedor/headerFx.js"></script>

<!--非共用-->
<script src="../../assets/js/vedor/jquery.nav.js"></script>
<!--main.js-->
<script src="../../assets/js/main.js"></script>



</body>
</html>
