<!DOCTYPE HTML>
<html>
<head>
	<title>慧智DNA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" /> 
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" /> 
	<link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.min.css" /> 

	
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />  
</head>

<body class="pageFadeIn">

<div class="menuBar menuBarFX"><!--PC版主選單-->
	<div class="container">
		<div class="logos">
			<a href="http://www.sofiva.com.tw/" target="_blank"><img src="../../assets/img/logoDNA.svg"></a>
			<a href="http://www.dianthus.com.tw/" target="_blank"><img src="../../assets/img/logoHching.svg"></a>
		</div>
		<ul class="mainMenu">
			<li><a href="../paternity/accuracy.html">親子鑑定介紹</a></li>
			<li><a href="../apply/index.html">應用範圍</a></li>
			<li><a href="../step/index.html">鑑定流程</a></li>
			<li><a href="../unit/index.html">選擇鑑定機構</a></li>
			<li><a href="../faq/index.html">常見問題</a></li>
			<li><a href="../../index.html">HOME</a></li>
		</ul>
		
		<div class="burger"><span></span></div>
	</div>
</div>


<div class="lightBox" id="menuLight"><!--手機版選單-->
	<div class="inner">
		<ul class="menu-s">
			<li><a href="../../index.html">首頁</a></li>
			<li><a href="../paternity/accuracy.html">親子鑑定介紹</a></li>
			<li><a href="../apply/index.html">應用範圍</a></li>
			<li><a href="../step/index.html">鑑定流程</a></li>
			<li><a href="../unit/index.html">選擇鑑定機構</a></li>
			<li><a href="../faq/index.html">常見問題</a></li>
		</ul>

	</div>
</div>


<div class="wrapperH100 "><!--輪播-->
	<div class="testLeft">
		<div style="background:url('../../upload/testBanner-L.jpg') no-repeat center center; background-size:cover">
		</div>
	</div>
	<div class="testRight">
		<div style="background:url('../../upload/testBanner-R.jpg') no-repeat center center; background-size:cover">
		</div>
	</div>	

    <div class="paternityTit">
        <div class="inner">
            <h2>Paternity<br>testing</h2>
        </div>
    </div>

	<div class="testTab">
		<a href="javascript:;" class="on anchorBtn" data-anchor="accuracyTit"><i>+</i><span>現代親子鑑定</span></a>
		<a href="../paternity/origin.html#originBan"><i>+</i><span>親子鑑定起源</span></a>
	</div>
</div>


<section class="accuracyTit" >
	<div class="pos86" id="accuracyTit"></div>
	<div class="cloude-s01"><img src="../../assets/img/cloud01-s01.png"></div>
	<div class="cloude-s02"><img src="../../assets/img/cloud01-s02.png" ></div>
	<div class="mm-s"><img src="../../assets/img/accuracyPeople.png"></div>
	<div class="cloude-s03"><img src="../../assets/img/cloud01-s03.png" ></div>
	<div class="cloude-s04"><img src="../../assets/img/cloud01.png"></div>
	<div class="cloude-s05"><img src="../../assets/img/cloud02.png"></div>

	<div class="tit">
		<h3>ACCURACY<span>現代親子鑑定</span></h3>
	</div>
</section>


<section class="accuracyBlock mtNon">
    <div class="blockW">
        <div class="tit">
            <h3>DNA親子鑑定</h3>
            <hr style="background:#ff9600">
            <p>每個人都有23對（46條）染色體染色體是由DNA去氧核醣核酸所組成<br>精子卵子結合成受精卵，生長出一個新的生命個體，會繼承父母一半的染色體</p>
        </div>
        <div class="accuracyPic">
            <div class="inner">
                <div class="mmTxt" data-sr="enter top, move 0, over .5s">
                	<img src="../../assets/img/accuracy/girl01.jpg">
                </div>

                <div class="mmDown" class="mmTxt" data-sr="enter top, move 10px, over .5s, wait .5s">
                	<img src="../../assets/img/accuracy/girl02.png">
                </div>

                <div class="mmPic" data-sr="enter top, move 0, over .5s, wait .8s">
                	<img src="../../assets/img/accuracy/girl03.png">
                </div>
                <div class="arrowDR" data-sr="enter left, move 30px, over .5s, wait 1.1s">
                	<img src="../../assets/img/accuracy/arrowDR.png">
                </div>
                <div class="xy" data-sr="enter top, move 0, over .5s, wait 1.3s">
                	<img src="../../assets/img/accuracy/xy.png">
                </div>
                <div class="boy" data-sr="enter top, move 15px, over .5s, wait 1.6s">
                	<img src="../../assets/img/accuracy/boy.png">
                </div>

                <div class="ppTxt" class="mmTxt" data-sr="enter top, move 0, over .5s">
                	<img src="../../assets/img/accuracy/boy01.jpg">
                </div>
                <div class="ppUp" data-sr="enter bottom, move 10px, over .5s, wait .5s">
                	<img src="../../assets/img/accuracy/boy02.png">
                </div>
                <div class="ppPic" data-sr="enter top, move 0, over .5s, wait .8s">
                	<img src="../../assets/img/accuracy/boy03.png">
                </div>
                <div class="arrowDL" data-sr="enter right, move 30px, over .5s, wait 1.1s">
                	<img src="../../assets/img/accuracy/arrowDL.png">
                </div>
                <div class="xx" data-sr="enter top, move 0, over .5s, wait 1.3s">
                	<img src="../../assets/img/accuracy/xx.png">
                </div>
                <div class="girl" data-sr="enter top, move 15px, over .5s, wait 1.6s">
                	<img src="../../assets/img/accuracy/boy06.png">
                </div>

                <div class="accuracyRWD"><img src="../../assets/img/accuracy.jpg"></div>
            </div>
        </div>
    </div>
    <div class="blockG">
        <div class="inner">
            <h3>Description</h3>
            <div class="cont">
                <p>每個人都有23對（46條）染色體，染色體是由DNA（去氧核醣核酸）所組成。而男性的精子和女性的卵子各有23條染色體，當精子和卵子結合形成受精卵，生長出一個新的生個體，這個新生命就會從父親繼承一半的染色體，另一半則是從母親獲得。</p>
                <p>親子鑑定檢測是檢驗子女的DNA，是否帶有來自父母方的基因片段。基因片段如果完全一致，可確立親子關係；如果有3個以上的點位不同，可排除親子關係；若是1-2個點位不同，可能為基因突變，須增加基因檢測點位以利辨別。本檢測否定親子關係的準確率近乎100%，肯定親子關係的準確率可達99.99%。</p>
                <p>人的基因點位是有可能突變的，根據統計，突變的機率約1/1,000，所以如果比對的結果是只有1-2個點位不合，應該考慮是否為基因突變的問題，這時候就需要再檢測更多的基因點位，或是透過其他的輔助鑑定系統 註，來排除或確認親子關係。</p>
                <p><b>註</b>輔助的鑑定系統</p>
                <p>如：檢測性染色體（Y染色體），或細胞質中的粒腺體DNA。</p>
            </div>
        </div>
    </div>
</section>


<section section class="accuracyBlock">
	<div class="blockW">
	    <div class="tit">
	        <h3>紅血球血型測試</h3>
	        <hr style="background:#53babe">
	        <p>A、B、AB及O型等4種類型<br>雖然不能作為親子關係的依據，但具有一定的參考價值</p>
	    </div>

	    <div class="accuracyLR">
	        <div class="left" data-sr="enter left, move 30px, over 1.3s"><img src="../../assets/img/bloodType.svg"></div>
	        <div class="right">
	            <h4 data-sr="enter top, move 0, over 1.3s, wait .5s">example </h4>
	            <p data-sr="enter top, move 0, over 1.3s, wait .8s">有一對父母，父親的血型是A型，母親的血型是B型他們所生的子女，可能的血型為A、B、AB及O型都有可能完全無法鑑別親子關係</p>
	            <hr data-sr="enter top, move 0, over 1.3s, wait 1.0s">
	            <p data-sr="enter top, move 0, over 1.3s, wait 1.3s">以單一血型系統來判斷親子關係出錯的機會很高，若檢驗的血型系統越多，則作為親子鑑定的準確性就會越高，但是結果也僅能夠作出否定親子關係的結論，不能完全確定是親子關係</p>
	        </div>
	    </div>
	</div><!--blockW END-->
    <div class="blockG">
        <div class="inner">
            <h3>Description</h3>
            <div class="txt">
                <h4>父母與子女血型的可能性</h4>
                <p>以單一血型系統來判斷親子關係出錯的機會很高，若檢驗的血型系統越多，則作為親子鑑定的準確性就會越高，但是結果也僅能夠作出否定親子關係的結論，不能完全確定是親子關係。</p>
                <p>目前已知有30個血型系統，常見用於鑑別親子關係的血型如下：<br> ABO血型系統／Rh血型系統／MN血型系統／Ss血型系統／hp血型系統
                </p>
            </div>

			<table class="tableRWD_dete tb_style1_dete">
			    <thead>
			        <tr>
			            <th>父母血型</th>
			            <th>子女可能的血型</th>
			            <th>子女不可能血型</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td data-title="父母血型">A＋A</td>
			            <td data-title="子女可能的血型">A、O</td>
			            <td data-title="子女不可能血型">B、AB</td>
			        </tr>
			        <tr>
			            <td data-title="父母血型">A＋B</td>
			            <td data-title="子女可能的血型">A、B、AB、O</td>
			            <td data-title="子女不可能血型">-</td>
			        </tr>
			        <tr>
			            <td data-title="父母血型">A＋AB</td>
			            <td data-title="子女可能的血型">A、B、AB</td>
			            <td data-title="子女不可能血型">O</td>
			        </tr>
			        <tr>
			            <td data-title="父母血型">A＋O</td>
			            <td data-title="子女可能的血型">A、O</td>
			            <td data-title="子女不可能血型">B、AB</td>
			        </tr>
			        <tr>
			            <td data-title="父母血型">B＋B</td>
			            <td data-title="子女可能的血型">B、O</td>
			            <td data-title="子女不可能血型">A、AB</td>
			        </tr>
			        <tr>
			            <td data-title="父母血型">B＋AB</td>
			            <td data-title="子女可能的血型">A、B、AB</td>
			            <td data-title="子女不可能血型">O</td>
			        </tr>
			        <tr>
			            <td data-title="父母血型">B＋O</td>
			            <td data-title="子女可能的血型">B、O</td>
			            <td data-title="子女不可能血型">A、AB</td>
			        </tr>
			        <tr>
			            <td data-title="父母血型">AB＋AB</td>
			            <td data-title="子女可能的血型">A、B、AB</td>
			            <td data-title="子女不可能血型">O</td>
			        </tr>
			        <tr>
			            <td data-title="父母血型">AB＋O</td>
			            <td data-title="子女可能的血型">A、B</td>
			            <td data-title="子女不可能血型">AB、O</td>
			        </tr>
			        <tr>
			            <td data-title="父母血型">O＋O</td>
			            <td data-title="子女可能的血型">O</td>
			            <td data-title="子女不可能血型">A、B、AB</td>
			        </tr>
			    </tbody>
			</table>            	
        </div>
    </div>
</section>

<section section class="accuracyBlock">
	<div class="blockW">
	    <div class="tit">
	        <h3>人類白血球組織抗原</h3>
	        <hr style="background:#8052c4">
	        <p>白血球的血型系統，稱為人類白血球組織抗原，簡稱 HLA<br>Human Leukocyte Antigen</p>
	    </div>
	    <div class="txt starBox">
	    	<i class="sixStar"></i>
	    	<h4>白血球也是有血型的，所以也可以用來鑑定親子關係</h4>
	    	<p>由於HLA為人類基因體最多形態的系統，所以HLA開始被用在親子關係的鑑定<br>鑑別度較以往大幅提高，再結合血型檢驗，則能將準確度再提高</p>
	    </div>
	</div><!--blockW END-->
    <div class="blockG">
        <div class="inner">
            <h3>Description</h3>
            <div class="txt">
                <p>雖然 HLA 的變化性很高，但是沒有血緣關係的人仍就有可能出現相同的型別，因此部分個案還是無法鑑別親子關係。</p>
            </div>        	
        </div>
    </div>
</section>

<section section class="accuracyBlock">
	<div class="blockW">
	    <div class="tit">
	        <h3>染色體多態性鑑定</h3>
	        <hr style="background:#7baaff">
	        <p>染色體的多態性是可遺傳的，1970年代開創了使用染色體多態性鑑定親子關係的技術<br>
染色體的多態性鑑定親子關係，倚靠的是技術人員的主觀判斷</p>
	    </div>
	</div><!--blockW END-->
    <div class="blockG">
        <div class="inner">
            <h3>Description</h3>
            <div class="txt">
                <p>正常人的染色體常有各種形態的微小變異，像是<strong>隨體</strong><b>註</b>增大、重複或缺少、染色體大小形態或著色等方面的變異，稱為染色體多態性又稱異態性（heteromorphism）。</p>
                <p>
                染色體的多態性是可遺傳的，所以在1970年代開創了使用染色體多態性鑑定親子關係的技術。因為是利用形態來鑑定親子關係，倚靠的是技術人員的主觀判斷，且易有人為誤差，準確率不盡如人意，當然也就無法普及而被自然淘汰了。
                </p>
                <p><b>註</b>：隨體（satellite），位於染色體末端的、圓形或圓柱形的染色體片段。</p>
            </div>        	
        </div>
    </div>
</section>

<div class="rainbowLine">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
<footer>
	<div class="container">
		<div class="left">
			<ul class="footInfo f13">
				<li><span>100台北市中正區思源街18號B棟5樓 </span></li>
				<li><label>電話：</label><span><a href="tel:0223686606">02-23686606</a></span></li>
				<li><label>傳真：</label><span>02-23680668 </span></li>				
			</ul>
			<p class="f11">© SOFIVA GENOMICS. ALL RIGHTS RESERVED. DESIGNED BY <a href="javascript:;">WDD</a></p>
		</div>
		<div class="right">
			<a href="http://www.sofiva.com.tw/" target="_blank"><img src="../../assets/img/logoDNA.svg"></a>
			<a href="http://www.dianthus.com.tw/" target="_blank"><img src="../../assets/img/logoHching.svg"></a>
		</div>
	</div>
</footer>


<div class="testTab middleBar">
	<a href="javascript:;" class="on"><i>+</i><span>現代親子鑑定</span></a>
	<a href="../paternity/origin.html#originBan"><i>+</i><span>親子鑑定起源</span></a>
</div>

<!--主要jQuery-->
<script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
<script src="../../assets/js/vedor/slick/slick.js"></script>
<script src="../../assets/js/vedor/scrollReveal.js"></script>
<script src="../../assets/js/vedor/waypoints.min.js"></script>
<script src="../../assets/js/vedor/windowScroll.js"></script>
<script src="../../assets/js/vedor/imagesloaded.pkgd.js"></script>
<script src="../../assets/js/vedor/headerFx.js"></script>

<!--非共用-->
<script src="../../assets/js/vedor/jquery.nav.js"></script>
<!--main.js-->
<script src="../../assets/js/main.js"></script>

</body>
</html>
