<!DOCTYPE HTML>
<html>
<head>
	<title>慧智DNA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" /> 
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" /> 
	<link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.min.css" /> 

	
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />  
</head>

<body class="pageFadeIn">

<div class="menuBar menuBarFX"><!--PC版主選單-->
	<div class="container">
		<div class="logos">
			<a href="http://www.sofiva.com.tw/" target="_blank"><img src="../../assets/img/logoDNA.svg"></a>
			<a href="http://www.dianthus.com.tw/" target="_blank"><img src="../../assets/img/logoHching.svg"></a>
		</div>
		<ul class="mainMenu">
			<li><a href="../paternity/accuracy.html">親子鑑定介紹</a></li>
			<li><a href="../apply/index.html">應用範圍</a></li>
			<li><a href="../step/index.html">鑑定流程</a></li>
			<li><a href="../unit/index.html">選擇鑑定機構</a></li>
			<li><a href="../faq/index.html">常見問題</a></li>
			<li><a href="../../index.html">HOME</a></li>
		</ul>
		
		<div class="burger"><span></span></div>
	</div>
</div>


<div class="lightBox" id="menuLight"><!--手機版選單-->
	<div class="inner">
		<ul class="menu-s">
			<li><a href="../../index.html">首頁</a></li>
			<li><a href="../paternity/accuracy.html">親子鑑定介紹</a></li>
			<li><a href="../apply/index.html">應用範圍</a></li>
			<li><a href="../step/index.html">鑑定流程</a></li>
			<li><a href="../unit/index.html">選擇鑑定機構</a></li>
			<li><a href="../faq/index.html">常見問題</a></li>
		</ul>

	</div>
</div>


<div class="wrapperH100 "><!--輪播-->
	<div class="testLeft">
		<div style="background:url('../../upload/testBanner-L.jpg') no-repeat center center; background-size:cover">
		</div>
	</div>
	<div class="testRight">
		<div style="background:url('../../upload/testBanner-R.jpg') no-repeat center center; background-size:cover">
		</div>
	</div>	

    <div class="paternityTit">
        <div class="inner">
            <h2>Paternity<br>testing</h2>
        </div>
    </div>

	<div class="testTab">
		<a href="../paternity/accuracy.html#accuracyTit"><i>+</i><span>現代親子鑑定</span></a>
		<a href="javascript:;" class="on anchorBtn" data-anchor="originBan"><i>+</i><span>親子鑑定起源</span></a>
	</div>
</div>

<section class="originBan">
	<div class="pos86" id="originBan"></div>
	<h3>ORIGIN<span>親子鑑定起源</span></h3>
	<div class="lollipop"><img src="../../assets/img/boy.png"></div>
</section>

<section class="originSide">
	<div class="inner">
		<div class="originBox">
			<div class="tit">
				<h3>滴血驗親</h3>
				<hr style="background:#ef555d">
				<p>又稱合血驗親法，兩個人的血液放在一起，假如能融合在一起，就是有血緣關係<br>以現代科學分析，沒有科學根據</p>
				<img src="../../assets/img/medisine.png" >
			</div>
			<div class="descrip">
				<h4>Description</h4>
				<p>事實上，將兩個人的血液共同滴入同一容器，不久都會融合為一，不必一定要是骨肉至親。因為人類的A型血和B型血是能夠溶合在一起的，如果以所謂的「合血法」檢驗兩名分別是A及B血型的人，其血液雖能融合卻不一定有血緣關係，所以滴血認親是完全不可信的。</p>
			</div>
		</div>

		<div class="originBox">
			<div class="tit">
				<h3>滴骨驗親</h3>
				<hr style="background:#54babf">
				<p>活人的血滴在死人的骨頭上，觀察是否滲入，若能滲入則表示有二者有血緣關係<br>按現代法醫學理論分析，缺乏科學依據</p>
				<img src="">
			</div>
			<div class="descrip">
				<h4>Description</h4>
				<p>骨骼無論是露天保存，還是埋藏在泥土中，經過較長時間，一般情況下軟組織都會經過腐敗完全消失，而毛髮、指甲則會脫落，最後僅剩下白骨化的骨骼。白骨化了的骨骼，表層腐蝕乾枯，無論滴入任何人的血液都會滲入。若骨骼未乾枯，結構完整、表面還有軟組織時，滴入任何人的血液都不會發生滲入的現象。</p>

				<img src="../../assets/img/bone.png" >
			</div>
		</div>

		<div class="originBox">
			<div class="tit">
				<h3>外貌對比</h3>
				<hr style="background:#968ad6">
				<p>倚靠外貌長像的對比來確定親子關係恐怕是最原始且不科學的方法<br>只是一種猜測、判斷，並不能作為親子鑑定的參考</p>
				<img src="">
			</div>
			<div class="descrip">
				<h4>Description</h4>
				<p>在日常生活中，我們在遇到帶著小孩的父母時，經常會討論「小孩長得像爸爸還是像媽媽」。由於遺傳的原因，父子（女）、母子（女）、兄弟姐妹之間的五官、膚色等一般都會有某些相似的地方，但是遺傳變異、基因突變以及環境因素，使得子女與父母出現「不像」的情形是非常正常的。</p>
				<p>另一方面，每個人對事物外觀的觀察其實充滿主觀因素，在大多數的情形下，我們說小孩與父母像或不像，是基於已經認定的親緣關係為依據而去做判斷，因此常常不同的人就有不同的看法，從這個角度說，像或不像就很難以個人觀察為標準。</p>
				<p>過去有不少父母認為孩子長得不像自己，或周遭親朋好友覺得小孩跟自己不像而要求做親子鑑定，結果絕大多數鑑定出來都是自己的親骨肉，所以靠外貌來判定並不客觀。</p>
			</div>
		</div>				
	</div>
</section>
<div class="rainbowLine">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>

<footer>
	<div class="container">
		<div class="left">
			<ul class="footInfo f13">
				<li><span>100台北市中正區思源街18號B棟5樓 </span></li>
				<li><label>電話：</label><span><a href="tel:0223686606">02-23686606</a></span></li>
				<li><label>傳真：</label><span>02-23680668 </span></li>				
			</ul>
			<p class="f11">© SOFIVA GENOMICS. ALL RIGHTS RESERVED. DESIGNED BY <a href="javascript:;">WDD</a></p>
		</div>
		<div class="right">
			<a href="http://www.sofiva.com.tw/" target="_blank"><img src="../../assets/img/logoDNA.svg"></a>
			<a href="http://www.dianthus.com.tw/" target="_blank"><img src="../../assets/img/logoHching.svg"></a>
		</div>
	</div>
</footer>

	<div class="testTab middleBar">
		<a href="../paternity/accuracy.html#accuracyTit"><i>+</i><span>現代親子鑑定</span></a>
		<a href="javascript;;" class="on"><i>+</i><span>親子鑑定起源</span></a>
	</div>

<!--主要jQuery-->
<script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
<script src="../../assets/js/vedor/slick/slick.js"></script>
<script src="../../assets/js/vedor/scrollReveal.js"></script>
<script src="../../assets/js/vedor/waypoints.min.js"></script>
<script src="../../assets/js/vedor/windowScroll.js"></script>
<script src="../../assets/js/vedor/imagesloaded.pkgd.js"></script>
<script src="../../assets/js/vedor/headerFx.js"></script>

<!--非共用-->
<script src="../../assets/js/vedor/jquery.nav.js"></script>
<!--main.js-->
<script src="../../assets/js/main.js"></script>

</body>
</html>
