<!DOCTYPE HTML>
<html>

<head>
    <title>慧智DNA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網站描敘">
    <meta name="keywords" content="網站關鍵字">
    <link href="../../assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/fontAwesome/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.css" />
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
</head>

<body class="pageFadeIn">
    <div class="faqMenuBar">
    	<div class="faqTop">
            <ul class="faqMenu">
                <li class="current"><a href="#faq01">鑑定用途</a></li>
                <li><a href="#faq02" >檢體相關</a></li>
                <li><a href="#faq03">鑑定狀況</a></li>
                <li><a href="#faq04">鑑定費用</a></li>
                <li><a href="#faq05">鑑定準備</a></li>
            </ul>
            <a href="javascript:;" class="close-x" onclick="history.go(-1);"></a>
            <span class="faqArrow"></span>
        </div>
        <ul class="faqMenu-s">
            <li class="current"><a href="#faq01">鑑定用途</a></li>
            <li><a href="#faq02">檢體相關</a></li>
            <li><a href="#faq03">鑑定狀況</a></li>
            <li><a href="#faq04">鑑定費用</a></li>
            <li><a href="#faq05">鑑定準備</a></li>
        </ul>                
    </div>

	<div class="faqBanner">
		<a href="javascript:;" class="close-x close-RWD" onclick="history.go(-1);"></a>
	    <div class="xsBGshow" data-small="../../upload/faqBg-s.jpg" data-large="../../upload/faqBg.jpg" style="background:url('../../upload/faqBg.jpg') no-repeat center center; background-size:cover">
	        <div class="indexTit faqTit">
	            <div class="inner">
	                <h2>FAQ <span>常見問題</span></h2>
	                
	                <hr>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="FAQtxt">
	    <div class="faqScroll">
	        <div class="faqInn">
	            <div class="faqBox anchorSection" id="faq01"><!--鑑定用途-->
	                <div class="inner">
	                    <div class="tit">
	                        <h3>鑑定用途</h3>
	                        <hr>
	                        <small>Paternity Testing</small>
	                    </div>
	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q01</i>
	                            <span>是不是每個鑑定機構的親子鑑定報告都可以用於戶籍登記嗎？</span>
	                        </div>
	                        <div class="aBox">
	                            當然不是。依據內政部103年6月26日台內戶字第1030183814號函：戶籍登記得採認財團法人全國認證基金會（以下簡稱TAF）認可實驗室出具之DNA親緣鑑定證明文件，至大陸地區出具之DNA親緣鑑定證明文件暫不予採認。所以，必須選擇通過TAF認證通過的鑑定機構進行親子鑑定，才可為戶政機關、法院及移民署採認。
	                        </div>
	                    </div>

	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q02</i>
	                            <span>台灣的戶政機關接受大陸地區所發出的親子鑑定報告嗎？</span>
	                        </div>
	                        <div class="aBox">
	                            目前尚不接受大陸地區的鑑定報告，依據內政部103年6月26日台內戶字第1030183814號函：戶籍登記得採認財團法人全國認證基金會（以下簡稱認證基金會）認可實驗室出具之DNA親緣鑑定證明文件，至大陸地區出具之DNA親緣鑑定證明文件暫不予採認。
	                        </div>
	                    </div>
	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q03</i>
	                            <span>如果親子鑑定結果是有法律上的用途（例如遺產繼承、申報戶口、申請依親移民等），一定要親自到現場嗎？如果親子鑑定結果是有法律上的用途（例如遺產繼承、申報戶口、申請依親移民等），一定要親自到現場嗎？</span>
	                        </div>
	                        <div class="aBox">
	                            如果鑑定結果有法律上的用途，必須選擇經認證基金會認可之親子鑑定機構，並依照鑑定機構的親子鑑定流程，受檢者親自到場由鑑定機構醫護人員查驗證件、拍照及採樣，並於報告完成後領取正式鑑定報告書。
	                        </div>
	                    </div>
	                </div>
	            </div><!--鑑定用途-->

	            <div class="faqBox anchorSection" id="faq02"><!--檢體相關-->
	                <div class="inner">
	                    <div class="tit">
	                        <h3>檢體相關</h3>
	                        <hr>
	                        <small>Paternity Testing</small>
	                    </div>
	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q01</i>
	                            <span>我在電視劇裡看到喝過水的杯子或是掉落的頭髮真的可以提供來做為親子鑑定之用？</span>
	                        </div>
	                        <div class="aBox">
	                            <div class="faqList01">
	                                <ul>
	                                    <li><i>NO</i>喝過水的杯子</li>
	                                    <li><i>NO</i>剪一小撮頭髮 → 毛髮檢體必須含有毛囊。</li>
	                                    <li><i>NO</i>使用過的衛生紙 → 只可作為個人參考，無法作為法律用途。</li>
	                                    <li><i>NO</i>使用過的牙刷 → 只可作為個人參考，無法作為法律用途。</sli>
	                                        <li><i>NO</i>指甲 → 只可作為個人參考，無法作為法律用途。</li>
	                                </ul>
	                                以上檢體皆可能因為品質不佳使得檢驗失敗，鑑定結果為未檢出，如果想要重新檢驗，則必需重新繳費及採檢。
	                            </div>
	                            親子鑑定檢體請參考「鑑定流程」中之<a href="javascript:;">「適用檢體」</a></span>。

	                        </div>
	                    </div>

	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q02</i>
	                            <span>如果要接受檢測的人無法親自前來，可以自行提供檢體送檢嗎? </span>
	                        </div>
	                        <div class="aBox">
	                            <span>若檢體為自行提供可能會有以下問題：</span>
	                            <ul class="faqList02">
	                                <li><i>1.</i><span>自行提供的檢體所得到的分析報告只可作為個人參考，無法作為法律用途。</span></li>
	                                <li>
	                                    <i>2.</i><span>檢體品質</span>
	                                    <ul class="faqList03">
	                                        <li><i></i><span>檢體量太少，使得DNA的量太少，導致無法分析。</span></li>
	                                        <li><i></i><span>檢體汙染到其他人的DNA，產生多重訊號無法釐清。</span></li>
	                                        <li><i></i><span>檢體保存不當，使得檢體腐敗或裂解，而無法分析。</span></li>
	                                    </ul>
	                                </li>
	                                <li><i>3.</i><span>因為上述原因使得檢驗失敗時，會出具未檢出之分析報告，如果想要重新檢驗，則必需重新繳費及採檢。</span></li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q03</i>
	                            <span>若曾經接受輸血或進行骨髓移植，可以進行親子鑑定嗎？</span>
	                        </div>
	                        <div class="aBox">
	                            可以，但是不可使用血液作為鑑定的檢體，必須使用口腔棉棒採取口腔黏膜細胞，否則會影響親子鑑定的結果。
	                        </div>
	                    </div>

	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q04</i>
	                            <span>因為嬰幼兒的血不好抽，有其他的採檢方是嗎?</span>
	                        </div>
	                        <div class="aBox">
	                            若嬰幼兒採血不易或不容許抽血，可用專用的血片(DNA專用的血片)，以採集腳跟血的的方式採檢。
	                        </div>
	                    </div>

	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q05</i>
	                            <span>一定要用抽血的方式嗎?抽血需要空腹嗎?</span>
	                        </div>
	                        <div class="aBox">
	                            一般建議以血液檢體為主，抽血前不需禁食。如果受檢者曾進行骨髓移植或最近三個月內有接受輸血，則不可使用血液作為親緣鑑定的檢體，必須使用口腔棉棒採取口腔黏膜細胞，採取口腔黏膜細胞前半小時需禁食。
	                        </div>
	                    </div>

	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q06</i>
	                            <span>如果檢體沒有辦法立即送驗，要怎麼保存？</span>
	                        </div>
	                        <div class="aBox">
	                            檢體若無法立即送驗，請先冷藏保存，並盡快送驗，以免檢體腐敗或裂解而無法分析。
	                        </div>
	                    </div>

	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q07</i>
	                            <span>我現在懷孕，想要確定腹中胎兒的父親，可以現在就做親子鑑定嗎?還是需要等到胎兒出生才可以做鑑定?</span>
	                        </div>
	                        <div class="aBox">
	                            無須等到胎兒出生，只要您已經懷孕滿十週即可進行鑑定。胎兒的檢體取得方式，懷孕滿十週進行絨毛採樣或滿十六週進行羊膜穿刺，再與待確定的父親檢體互相比對。絨毛採樣及羊膜穿刺皆須由合格的婦產科醫師執行。
	                        </div>
	                    </div>
	                </div>
	            </div><!--檢體相關END-->


	            <div class="faqBox anchorSection" id="faq03"><!--鑑定狀況-->
	                <div class="inner">
	                    <div class="tit">
	                        <h3>鑑定狀況</h3>
	                        <hr>
	                        <small>Paternity Testing</small>
	                    </div>
	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q01</i>
	                            <span>親子鑑定的檢驗流程是怎樣?</span>
	                        </div>
	                        <div class="aBox">
	                            一般親子鑑定流程多是，從諮詢開始，瞭解親子鑑定的目的以及確定進行鑑定，後續包括查驗證件、拍照以及採檢，最後領取鑑定報告。詳情請參考
	                            <鑑定流程>(連結到”鑑定流程”的頁面)

	                        </div>
	                    </div>

	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q02</i>
	                            <span>不想讓兒女或父母知道，兒女或父母可以不到場嗎？</span>
	                        </div>
	                        <div class="aBox">
	                            可以，但此鑑定報告僅供個人參考，無法作為法律用途。自行提供受檢者的檢體，若日後檢體來源有爭議時，須由鑑定委託人負責。自行提供的檢體可能因為檢體品質不佳使得檢驗失敗，鑑定結果為未檢出，如果想要重新檢驗，則必需重新繳費及採檢。
	                        </div>
	                    </div>
	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q03</i>
	                            <span>如果是未成年的兒女要做親子鑑定，是否需監護人陪同前往？</span>
	                        </div>
	                        <div class="aBox">
	                            未成年子女要做親子鑑定，需由監護人親自到現場簽署同意書。如果是與父親進行比對須由母親同意，反之，與母親進行比對需有父親同意。
	                        </div>
	                    </div>

	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q04</i>
	                            <span>我的血型是A型，先生的血型是O型，有可能生下AB型的小孩嗎?因為我的小孩就是AB型，我先生懷疑小孩不是他的。</span>
	                        </div>
	                        <div class="aBox">
	                            理論上是有可能的，但是機率極低。因為有一種亞孟買血型(約每一萬人中至少有一人)，是一種容易被誤判為O型的ABO亞血型。如果您的先生為亞孟買血型的B型，不小心被誤判為O型，而您是A型，如此就有可能生下AB型的小孩。如上述情況，若想要確定親子關係，還是建議做親子鑑定。
	                        </div>
	                    </div>

	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q05</i>
	                            <span>鑑定報告多久會出來? 可以更快嗎?</span>
	                        </div>
	                        <div class="aBox">
	                            每家親子鑑定機構所需要的報告時間都不一樣，一般約需5-8個工作天(不包含例假日)，有些鑑定機構可能長達一個月。若想要更快拿到鑑定報告，某些鑑定機構有提供急件服務，但需加收急件費用。
	                        </div>
	                    </div>

	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q06</i>
	                            <span>檢驗結果只要出現一個點位不合，是否就判定為沒有親子關係? </span>
	                        </div>
	                        <div class="aBox">
	                            人的基因點位是有可能突變的，根據統計，突變的機率約1/1,000，所以如果比對的結果是只有1-2個點位不合，應該考慮是否為基因突變的問題，這時候就需要再檢測更多的基因點位，或是透過其他的輔助鑑定系統註，來排除或確認親子關係。 註：輔助的鑑定系統，如：檢測性染色體（Y染色體），或細胞質中的粒腺體DNA。

	                        </div>
	                    </div>

	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q07</i>
	                            <span>親子鑑定的用途有哪些？</span>
	                        </div>
	                        <div class="aBox">
	                            確認親子關係、跨國依親、確認生父、財產繼承、個人人身鑑定、ABO血型不合等。詳情請參考
	                            <a href="javascript:;">
	                                <應用範圍>
	                            </a>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="faqBox anchorSection" id="faq04"><!--鑑定費用-->
	                <div class="inner">
	                    <div class="tit">
	                        <h3>鑑定費用</h3>
	                        <hr>
	                        <small>Paternity Testing</small>
	                    </div>
	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q01</i>
	                            <span>請問親子鑑定的費用?</span>
	                        </div>
	                        <div class="aBox">
	                            親子鑑定屬於自費檢驗，每個人的費用約為一萬元左右，若進行父、子之親子鑑定，總共約二萬元。如果能提供母親檢體一起作鑑定，一般情況下母親是不收費用的，並且能增加鑑定的準確率。
	                        </div>
	                    </div>

	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q02</i>
	                            <span>請問親子鑑定有健保給付嗎?</span>
	                        </div>
	                        <div class="aBox">
	                            沒有，因為親子鑑定並非用於疾病診斷的檢測，所以不屬於健保的醫療服務給付項目，而是自費的檢測。
	                        </div>
	                    </div>
	                </div>
	            </div><!--鑑定費用-->

	            <div class="faqBox anchorSection" id="faq05"><!--鑑定準備-->
	                <div class="inner">
	                    <div class="tit">
	                        <h3>鑑定準備</h3>
	                        <hr>
	                        <small>Paternity Testing</small>
	                    </div>
	                    <div class="faqList">
	                        <div class="qBox">
	                            <i>Q01</i>
	                            <span>我要去作親子鑑定，要準備什麼資料？</span>
	                        </div>
	                        <div class="aBox">
	                            親子鑑定屬於自費檢驗，每個人的費用約為一萬元左右，若進行父、子之親子鑑定，總共約二萬元。如果能提供母親檢體一起作鑑定，一般情況下母親是不收費用的，並且能增加鑑定的準確率。
	                        </div>
	                    </div>
	                </div>
	            </div><!--鑑定準備-->
	        </div>
	    </div>
	</div><!--FAQtxt END-->






    <!--主要jQuery-->
    <script src="../../assets/js/vedor/jquery-1.11.3.min.js"></script>
    <script src="../../assets/js/vedor/slick/slick.js"></script>
    <script src="../../assets/js/vedor/scrollReveal.js"></script>
    <script src="../../assets/js/vedor/waypoints.min.js"></script>
    <script src="../../assets/js/vedor/windowScroll.js"></script>
    <script src="../../assets/js/vedor/imagesloaded.pkgd.js"></script>


    <!--非共用-->
    <script src="../../assets/js/vedor/jquery.nav.js"></script>
    <script src="../../assets/js/vedor/faqScroll.js"></script>
    <script src="../../assets/js/vedor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>


    <!--main.js-->
    <script src="../../assets/js/main.js"></script>



</body>

</html>